@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
  @apply px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20;
}
.btn {
  @apply inline-flex items-center h-12 px-6 mb-3 font-medium  transition duration-200 rounded shadow-md  md:mb-0 text-gray-200 custom-bg hover:bg-green-600;  
}

.badge {
  @apply inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-yellow-400;
}

.active {
  @apply font-medium tracking-wide custom-font transition-colors duration-200 hover:text-gray-300 custom-border;
}

.default {
  @apply font-medium tracking-wide text-green-700 transition-colors duration-200 hover:text-gray-300 border-green-700;
}

.custom-bg {
  background-color: #009C62; /* Replace #abcdef with your desired color */
}
.custom-font{
  color: #009C62;
}
.custom-border{
  border-color: #009C62;
}

li a{
  @apply p-2 rounded-lg border border-solid;
}

.p-description{
  @apply py-2 text-2xl m-2 leading-10 text-gray-600;
}